
@import "tailwindcss";

@theme {
  
  --color-primary: #55B37E;   /* Green (main brand) */
  --color-secondary: #302164; /* Yellow accent */
  --color-dark: #1E1E2F;      /* Dark text */
  --color-light: #F9F9F9;     /* Light background */

  --font-sans: "Poppins", sans-serif;
}

/* Global styles */
/* body {
  background-image: url("/BgImage1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat; /* since it's a pattern */
  /* position: relative; */
/* } */ 

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* white overlay → makes drawings lighter */
  z-index: -1;
}


